# 실패
- 1000P까지만 가능
- 네이버에서 막아놓음
- 다른 방법으로 크롤링하자!

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
def max_page(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    return int(soup.find('strong', class_='c_88 fs_11').text) // 10 + 1

url = 'https://movie.naver.com/movie/point/af/list.nhn'
def crawling_data(url):
    df = pd.DataFrame(columns = ['title_num', 'title', 'review', 'auther'])
    max_p = max_page(url)
    error_li = []
    for i in range(1, max_p):
        if i % 10 == 0:
            print(i)
        params = {'page' : i}
        res = requests.get(url, params = params)
        soup = BeautifulSoup(res.content, 'html.parser')

        tr_li = soup.find('tbody').find_all('tr')
        for idx, tr in enumerate(tr_li):
            try:
                now = dict()
                now['title_num'] = tr.find('td', class_='ac num').get_text()
                now['title'] = tr.find('a', class_='movie color_b').get_text()
                now['review'] = ''.join(tr.find('a', class_='report').get('href').split(",")[2:-2]).strip()[1:-1]
                now['auther'] = tr.find('a', class_='author').get_text()
                df = df.append(now, ignore_index = True)
            except:
                print('error', f"{i},{idx}")
                error_li.append([i, idx])

    return df, error_li

# 영화별 크롤링

In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
def max_page(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    q, r = divmod(int(soup.find('strong', class_='c_88 fs_11').text), 10)
    return q+1 if r else q

def crawling_data_by_movie(number):
    number = int(number)
    base_url = 'https://movie.naver.com/movie/point/af/list.nhn?st=mcode&' + f"sword={number}" + '&target=after'
    max_p = max_page(base_url) + 1
    
    df = pd.DataFrame(columns = ['number', 'title', 'score', 'review', 'auther'])
    error_li = []
    for i in range(1, max_p):
        if i % 100 == 0:
            print(i)
        params = {'page' : i}
        res = requests.get(base_url, params = params)
        soup = BeautifulSoup(res.content, 'html.parser')

        tr_li = soup.find('tbody').find_all('tr')
        for idx, tr in enumerate(tr_li):
            try:
                now = dict()
                now['number'] = tr.find('td', class_='ac num').get_text()
                now['title'] = tr.find('a', class_='movie color_b').get_text()
                now['score'] = tr.find('em').get_text()
                now['review'] = ''.join(tr.find('a', class_='report').get('href').split(",")[2:-2]).strip()[1:-1]
                now['auther'] = tr.find('a', class_='author').get_text()
                df = df.append(now, ignore_index = True)
            except:
                print('error', f"{i},{idx}")
                error_li.append([i, idx])

    return df, error_li

In [36]:
a, b = crawling_data_by_movie(187893)

100
200
300

In [37]:
a

,number,title,score,review,auther
0,17234358,소리도 없이,2,유아인연기땡시 보는데 진짜 영화머냐ㅡㅡ,dmal****
1,17234354,소리도 없이,5,제목처럼 가버린 영화,rlxo****
2,17234310,소리도 없이,5,음티비에서 방송하면 봐도 될것같아요,ogix****
3,17234306,소리도 없이,7,갱스터 초치라는 영화를 한국적으로 재해석한 영화인듯 ...어설퍼..ㅠㅠ,art0****
4,17234233,소리도 없이,1,여자들이 하라는 밥은 안하고 영화만든다고 설쳐댈 때부터 이 사단 날줄 알았다.,usfy****
...,...,...,...,...,...
3311,17198990,소리도 없이,10,유아인♡믿고 보러간다.,ilov****
3312,17198988,소리도 없이,9,이 시국에도 저번주 시사회로 이 영화 본 사람들 있다. 자기가 극장 가기 싫어서 안...,oren****
3313,17198987,소리도 없이,10,연출ㅡ감동 지수 높음 별 5개,dntj****
3314,17198982,소리도 없이,1,이 시국에 영화관을 왜 가?,nrzb****
3315,17198968,소리도 없이,10,안 봤지만 유아인 사랑해요,rlat****

In [38]:
display(a[a.duplicated()])

Empty DataFrame
Columns: [number, title, score, review, auther]
Index: []

In [39]:
a.drop_duplicates(inplace = True)

In [40]:
a

,number,title,score,review,auther
0,17234358,소리도 없이,2,유아인연기땡시 보는데 진짜 영화머냐ㅡㅡ,dmal****
1,17234354,소리도 없이,5,제목처럼 가버린 영화,rlxo****
2,17234310,소리도 없이,5,음티비에서 방송하면 봐도 될것같아요,ogix****
3,17234306,소리도 없이,7,갱스터 초치라는 영화를 한국적으로 재해석한 영화인듯 ...어설퍼..ㅠㅠ,art0****
4,17234233,소리도 없이,1,여자들이 하라는 밥은 안하고 영화만든다고 설쳐댈 때부터 이 사단 날줄 알았다.,usfy****
...,...,...,...,...,...
3311,17198990,소리도 없이,10,유아인♡믿고 보러간다.,ilov****
3312,17198988,소리도 없이,9,이 시국에도 저번주 시사회로 이 영화 본 사람들 있다. 자기가 극장 가기 싫어서 안...,oren****
3313,17198987,소리도 없이,10,연출ㅡ감동 지수 높음 별 5개,dntj****
3314,17198982,소리도 없이,1,이 시국에 영화관을 왜 가?,nrzb****
3315,17198968,소리도 없이,10,안 봤지만 유아인 사랑해요,rlat****