## 데이터 로드

In [3]:
import pandas as pd
import pickle, os
path = os.getenv("HOME") + '/project_data/naver_review_preprocessing.pickle'

In [4]:
data = pd.read_pickle(path)
data.head()

,number,title,score,review,auther,user_idx,movie_index
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****,77126,4095
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****,55669,4095
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****,39991,4095
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****,50126,4095
4,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****,62615,4095

In [6]:
df = data.iloc[:, [2, 5, 6]]
df.head()

   score  user_idx  movie_index
0     10     77126         4095
1     10     55669         4095
2      9     39991         4095
3      5     50126         4095
4     10     62615         4095

In [8]:
df.to_csv('user_movie_score_data.csv')

## 피벗테이블 생성

In [3]:
pivot_df = pd.pivot(data, index='user_idx', columns='movie_index', values='score')
# pivot_df

In [4]:
pivot_df = pivot_df.fillna(0)

In [7]:
import numpy as np
pivot_np = pivot_df.to_numpy(dtype = np.int8)
# pivot_np

In [ ]:
len(pivot_np)

In [ ]:
len(pivot_np[0])

In [8]:
import pickle
with open('MF_pivot.pickle', 'wb') as f:
    pickle.dump(pivot_np, f)