# 데이터 전처리

## 데이터 로드

In [2]:
import pickle, os
path = os.getenv("HOME") + '/project_data/naver_movie_review.pickle'

In [3]:
import pandas as pd
data = pd.read_pickle(path)
data.head()

,number,title,score,review,auther
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****
4,17234710,시네마 천국,10,,wldu****

## 결측치 제거

In [4]:
len(data)

8114820

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8114820 entries, 0 to 8114819
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   number  object
 1   title   object
 2   score   object
 3   review  object
 4   auther  object
dtypes: object(5)
memory usage: 309.6+ MB

In [6]:
data = data[data['review'] != '']

In [7]:
len(data)

8062953

## 헤비 유저 특정
- 리뷰 개수가 10개 이상인 유저 데이터만 사용

In [8]:
data.head()

,number,title,score,review,auther
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****
5,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****

In [9]:
df = data[data.groupby('auther')['score'].transform('size') > 10]
df.head()

,number,title,score,review,auther
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****
5,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****

In [10]:
len(df)

7217893

In [11]:
df['auther'].nunique()

83006

In [12]:
df = df.reset_index(drop=True)
df

,number,title,score,review,auther
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****
4,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****
...,...,...,...,...,...
7217888,17242576,애비규환,8,배우들의 연기만 좋았던 영화,dpfk****
7217889,17242563,애비규환,10,새롭고 신선한 영화였고 시간가는줄 모르고 재밌게 봤습니다! 배우들의 연기가 너무 좋았어요,sj00****
7217890,17242552,애비규환,10,진짜 기대보다 재밌어서 시간 가는줄모르고 봤어요 크리스탈 연기가 참 좋았고 딱 토일...,gun4****
7217891,17242524,애비규환,1,애비규환이라니요? 만약 애미규환으로 영화가 나온다면 페미분들 가만히 있었을까요? 평...,suki****
7217892,17242510,애비규환,10,제대로 키우지도 못할 아이 입양해서 죽게 만든 그 아줌마 끝까지 천벌 받았으면 좋겠...,rlad****

# 매트릭스 생성

## 유저 인코딩

In [13]:
df.nunique()

number    7217893
title        7212
score          10
review    6886431
auther      83006
dtype: int64

### user_to_idx를 이용한 방법
- 속도가 느림

In [14]:
# user_to_idx = {u:idx for idx, u in enumerate(df['auther'].unique())}
# len(user_to_idx)
# df['auther'].nunique() == df['user_idx'].nunique()

### LabelEncoder를 이용한 방법

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['auther'].unique())

LabelEncoder()

In [16]:
le.classes_

array(['00-b****', '0000****', '0001****', ..., 'zzzx****', 'zzzy****',
       'zzzz****'], dtype=object)

In [17]:
%timeit df['user_idx'] = le.transform(df.auther)

1.14 s ± 20 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [18]:
df.head()

,number,title,score,review,auther,user_idx
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****,77368
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****,55852
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****,40137
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****,50296
4,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****,62819

## 영화인코딩
- apply보다 LabelEncoder가 빠름
- 더 빠른 방법으로 추후 변경예정

### apply를 이용한 코드

In [19]:
# movie_to_idx = {m:idx for idx, m in enumerate(data['title'].unique())}
# len(movie_to_idx)

In [20]:
# %timeit data['movie_index'] = data.apply(lambda x : movie_to_idx[x['title']], axis = 1)

### LabelEncoder를 사용한 코드

In [21]:
le2 = LabelEncoder()
le2.fit(df['title'].unique())

LabelEncoder()

In [22]:
%timeit df['movie_index'] = le2.transform(df.title)

578 ms ± 4.81 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [23]:
df.head()

,number,title,score,review,auther,user_idx,movie_index
0,17238977,시네마 천국,10,야외상영할 때 엘레나가 갑작스레 와서 키스할 때 진짜 너무 설레였다... 사랑하고 ...,wusl****,77368,4095
1,17238637,시네마 천국,10,올타임 넘버원 모든 면에서 최고의 영화~,park****,55852,4095
2,17237730,시네마 천국,9,토토의 영화관은 사라져도 토토와 알프레도의 추억은 계속해서 상영기에서 돌아간다.,kjes****,40137,4095
3,17236527,시네마 천국,5,이거보다 더 오래된 영화여도 충분히 감동 깊게 재밌게 봤던 영화도 많았다. 대부를 ...,mrki****,50296,4095
4,17234247,시네마 천국,10,어딘가 마음이 꿈틀대는 영화.,s2fr****,62819,4095

## 매트릭스

### score의 데이터타입 변경

In [24]:
type(df.loc[0].score)

str

In [25]:
df['score'] = df.apply(lambda x : int(x['score']), axis = 1)

In [26]:
type(df.loc[0].score)

numpy.int64

In [27]:
import numpy as np
df.score = df.score.astype(np.int8)

In [28]:
type(df.loc[0].score)

numpy.int8

In [30]:
import pickle
df.to_pickle('naver_review_preprocessing.pickle')

In [ ]:
# mf_matrix = df.pivot_table('score',index = 'user_idx',columns = 'movie_index')
# mf_matrix